<table class="table">
    <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Ameneties</th>
        <th>Checkin time</th>
        <th>Rating</th>
        <th>Select Room</th>
    </tr>
    <tr *ngFor="let room of rooms">
        <td>{{room.roomNumber}}</td>
        <td>{{room.roomType}}</td>
        <td>{{room.price | currency: 'DKK'}}</td>
        <td>{{room.ameneties | lowercase }}</td>
        <td>{{room.checkinTime | date : 'short' }}</td>
        <td>{{room.rating | number : '1.0-0'}}</td>
        <td>
            <button class="btn btn-primary" (click)="selectRoom(room)">Select</button>
        </td>
    </tr>

</table>